:root {
    /* Primary */

    --cp-purple-50: hsl(260, 100%, 95%);
    --cp-purple-300: hsl(264, 82%, 80%);
    --cp-purple-500: hsl(263, 55%, 52%);

    /* Neutral */

    --cn-white: hsl(0, 0%, 100%);
    --cn-grey-100: hsl(214, 17%, 92%);
    --cn-grey-200: hsl(0, 0%, 81%);
    --cn-grey-400: hsl(224, 10%, 45%);
    --cn-grey-500: hsl(217, 19%, 35%);
    --cn-dark-blue: hsl(219, 29%, 14%);
    --cn-black: hsl(0, 0%, 7%);

    /* Font */

    --font-family: "Barlow Semi Condensed", sans-serif;

    /* Font sizes */

    --fs-m: 0.875rem; /* 14px */
    --fs-2xl: 1.5rem; /* large */

    /* Sizes */

    --size-s: 0.875rem; /* 14px */
    --size-m: 1rem; /* 16px */
    --size-xl: 2rem; /* 32px */
    --size-2xl: 3rem; /* 48px */
    --size-4xl: 5rem; /* 80px */

    /* Border size */
    --border-s: 0.125rem;

    /* Shadow */

    --shadow: 2.5rem 2.5rem 1.875rem var(--cn-grey-200);

    font-family: var(--font-family);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-weight: 500;
    font-style: normal;
    font-size: var(--fs-m);
    line-height: 1.3;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 90rem;
    margin-inline: auto;
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1em);
}

.testimonials {
    height: 100vh;
    display: flex;
    align-items: center;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-xl);

    padding-block: var(--size-4xl);
    padding-inline: var(--size-xl);
}

.card {
    position: relative;
    z-index: 1;
    padding: var(--size-2xl);
    border-radius: var(--size-s);
    background: var(--cn-white);

    color: var(--color, var(--cn-grey-400));

    box-shadow: var(--shadow);

    blockquote {
        font-size: var(--fs-lg);
        color: var(--text-muted);
    }
}

.card-header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--size-m);

    img {
        width: 2.188rem;
        height: 2.188rem;
        border-radius: 50%;
    }

    .bio .name {
        font-weight: 500;
        font-size: var(--fs-lg);
    }

    .bio .position {
        font-size: var(--fs-m);
        color: var(--text-muted);
    }
}

.title {
    font-size: var(--fs-2xl);
}

.daniel {
    position: relative;
    --text-muted: var(--cp-purple-300);
    --color: var(--cp-purple-50);
    background: var(--cp-purple-500);
    color: var(--cn-white);

    .card-header img {
        border: 0.125rem solid var(--cp-purple-300);
    }

    img.pattern-icon {
        display: none;
    }
}

.jonathan {
    --text-muted: var(--cn-grey-200);
    --color: var(--cn-white);
    background: var(--cn-grey-500);
}

.patrick {
    --text-muted: var(--cn-grey-200);
    --color: var(--cn-grey-200);
    background: var(--cn-dark-blue);

    .card-header img {
        border: var(--border-s) solid var(--cp-purple-500);
    }
}

.kira {
    --text-muted: var(--cn-grey-400);
}

@media (min-width: 50rem) {
    .testimonial-cards {
        grid-template-areas:
            "daniel daniel jonathan"
            "jeanette patrick patrick"
            "kira kira kira";
        grid-template-columns: repeat(3, 1fr);

        padding-block: var(--size-4xl);
        padding-inline: var(--size-2xl);
    }

    .daniel {
        grid-area: daniel;
        z-index: 1;

        img.pattern-icon {
            margin: 0;
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            right: 7.5rem;
            width: 8.438rem;
        }
    }

    .jonathan {
        grid-area: jonathan;
    }

    .jeanette {
        grid-area: jeanette;
    }

    .patrick {
        grid-area: patrick;
    }

    .kira {
        grid-area: kira;
    }
}

@media (min-width: 80rem) {
    .testimonial-cards {
        grid-template-areas:
            "daniel daniel jonathan kira"
            "jeanette patrick patrick kira";
        grid-template-columns: repeat(4, 1fr);

        padding-inline: unset;
    }
}
